<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>广播消息</title>
</head>
<body onload="disConnect()">
<noscript><h2 style="color: #e80b0a;">Sorry，浏览器不支持WebSocket</h2></noscript>
<div >
    <button id="connect" class="connect" onclick="connect();">链接</button>
    <button id="disconnect" class="disconnect" onclick="disConnect();">断开链接</button>
</div>
<div id="conversationDiv">
    <label>输入你的名字</label><input tupe="text" id="name"/>
    <button onclick="SendMessage()" >发生</button>
    <p id="response"></p>
</div>
</body>
</html>
<script th:src="@{js/jquery-3.2.1.min.js}"></script>
<script th:src="@{js/stomp.js}"></script>
<script th:src="@{js/sockjs.js}"></script>

<script type="text/javascript">
    var messageClient = null ;
    function setConnect(connected) {
        document.getElementById("connect").disabled = connected;
        document.getElementById("disconnect").disabled = connected;
        document.getElementById("conversationDiv").style.visibility
            = connected?'visible':'hidden';
        $("#response").html();
    }
    function connect() {
        var url = "/endpointWow";
        var wsock = new SockJS(url);
        messageClient =  Stomp.over(wsock);
        messageClient.connect({},function (frame) {
            console.log("connect"+frame);
            setConnect(true);
            var destination = "/topic/testTopic";
            messageClient.subscribe(destination,function (res) {
                showResponse(JSON.parse(res.body).message);
            })
        });

    }
    
    function showResponse(message) {
        $("#response").html(message);
    }

    function SendMessage() {
        var name = $("#name").val();
        messageClient.send("/testMessage",{},JSON.stringify({"name":name}));
    }
    
    function disConnect() {
        if(messageClient!=null){
            messageClient.disconnect();
        }
        setConnect(false);
        console.log("disconnect");
    }


</script>